<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nhnnext.android.day5_simple"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="org.nhnnext.android.day5_simple.HomeViewer"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.nhnnext.android.day5_simple.PostArticleViewer"
            android:label="Article Writer" >
        </activity>
        <activity
            android:name="org.nhnnext.android.day5_simple.ArticleViewer"
            android:label="Article Viewer" >
        </activity>
        <service 
            android:name="LocalService"
            android:label="LocalService"
            >
        </service>
        <provider 
            android:authorities="org.nhnnext.android.day5_simple.Article" 
            android:name="ArticleProvider"/>
	</application>
    
</manifest>
